
  <ul class="list-unstyled">
    <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <img src="/spaceinvader.png" alt="User Avatar" width="60px" height="60px">
                     </span>

      <div class="chat-body1 clearfix">
        <p>
          <strong><%= message.user.name %></strong> <%= message.timestamp %><br>
          <%= message.body %></p>
        <!--      <div class="chat_time pull-right"></div>-->
      </div>
    </li>
  </ul>
