<p>Olá, <%= @resource.email %>!</p>

<p> Alguém solicitou um link para mudança de sua senha. Você pode fazer isso através do link abaixo.</p>

<% link = edit_password_url(@resource, reset_password_token: @token).delete("1025")
   link.insert(link.index("t:") + 2, '3000')%>

<p><%= link_to 'Mudar minha senha', link %></p>

<p>Se você não requisitou mudança de senha, por favor ignore este e-mail.</p>
<p>Sua senha não mudará até que você acesse o link acima e crie uma nova.</p>
